# Node.js and Python standard ignores

# Node.js
node_modules/
package-lock.json
.env

# Database
*.sqlite

# Uploaded files
backend/uploads/*
!backend/uploads/.gitkeep

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
